.randomList, .randomText, .timerClass {
    border: 5px solid lightcoral;
    width: 500px;
    border-radius: 10px;
    background-color: mistyrose;
    box-shadow: 20px 10px 10px darkgrey;
    box-sizing: border-box;
    margin: 2%;
}

.timerClass {
    width: 20%;
    padding: 20px;
    position: absolute;
    left: 40%;
    top: 15%;
    text-align: center;
}

.randomText {
    width: 80%;
    padding-left: 20px;
}

.listClass, .textClass {
    text-transform: capitalize;
    font-weight: bolder;
    line-height: 3rem;
    font-size: 30px;
}

ul {
    margin-left: 20px;
}

li {
    margin-left: 40px;
    list-style: square;
}

.btn {
    position: absolute;
    right: 20%;
    top: 20%;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 20px 10px 10px darkgrey;

}

.sqr {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    background-color: mistyrose;
    position: absolute;
    right: 2%;
    top: 2%;
    border: 5px solid lightcoral;
    border-radius: 50%;
    box-shadow: 20px 10px 10px darkgrey;

}

.txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
}